.title {
	font-family: quicksand;
	font-weight: 100;
	font-size: 45px;
	color: #00473B;
	position: absolute;
	top: 160px;	
	left: 200px;
}
body {
	background-image:url("greenback.jpg");
}

@font-face {
   font-family: quicksand;
   src: url("Quicksand/OFL.txt");
}

.h1{ /*the days*/
	font-family:quicksand;
	font-weight: normal;
	font-size: 30px;
	color: #003F37;
	padding-top: 50px;
	padding-bottom: 10px;
}

.p1 { 
	font-size: 17px;
	font-weight: normal;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 400px;
}

.topCloud {
	position: absolute;
	top: -160px;
	left: -30px;
}
.textFrame {
	position: absolute;	
	left: 200px;
	top: 645px;

}
.sketch1 {
	position: absolute;
	left: 730px;
	top: 998px;
}

.AssignmentDiscription{
	position: absolute;
	margin-top: 270px;
	margin-left: 190px;
	margin-right: 190px;
	font-family:quicksand;
	font-weight: 700px;
	font-size: 18px;
	color: #003F37;

}

.marginCenter {
	margin:auto;
}

.lastname2{
	position: absolute;
	top: 50px;
	left: 714px;
	color: #000000;
	font-family: 'Press Start 2P';
	font-size: 13px;
}
.pegahlogo2{
	position: absolute;
	top: 15px;
	left: 730px;
	font-family: "Press Start 2P";
	font-size: 25px;
	
}

.lastname2 a:link {text-decoration: none;
color: #000000;}
.lastname2 a:visited { text-decoration: none; }
.lastname2 a:hover { color: #DDFFF1;; }
.lastname2 a:active { text-decoration: none; }

.pegahlogo2 a:link { text-decoration: none; }
.pegahlogo2 a:visited { text-decoration: none; }
.pegahlogo2 a:hover { color:#DDFFF1; }
.pegahlogo2 a:active { text-decoration: none; }

