@charset "utf-8";
/* CSS Document */
body {
	background-image:url("yellowBack.jpg");
}
.topcloud {
	position: absolute;
	top: -160px;
	left: -30px;
}

.lastname2{
	position: absolute;
	top: 50px;
	left: 714px;
	color: #000000;
	font-family: 'Press Start 2P';
	font-size: 13px;
}
.pegahlogo2{
	position: absolute;
	top: 15px;
	left: 730px;
	font-family: "Press Start 2P";
	font-size: 25px;
}
.lastname2 a:link {text-decoration: none;
color: #000000;}
.lastname2 a:visited { text-decoration: none; }
.lastname2 a:hover { color:#FEFECC; }
.lastname2 a:active { text-decoration: none; }

.pegahlogo2 a:link { text-decoration: none; }
.pegahlogo2 a:visited { text-decoration: none; }
.pegahlogo2 a:hover { color:#FEFECC; }
.pegahlogo2 a:active { text-decoration: none; }

.title {
	font-family: quicksand;
	font-weight: 100;
	font-size: 45px;
	color: #393300;
	position: absolute;
	top: 160px;	
	left: 200px;
}