@charset "utf-8";
/* CSS Document */
body {
	background-image:url("redBack1.jpg");
}
.topcloud {
	position: absolute;
	top: -160px;
	left: -30px;
}

.lastname4{
	position: absolute;
	top: 50px;
	left: 714px;
	font-family: 'Press Start 2P';
	font-size: 13px;
}
.pegahlogo4{
	position: absolute;
	top: 15px;
	left: 730px;
	font-family: "Press Start 2P";
	font-size: 25px;
}
.lastname4 a:link {text-decoration: none;
color: #000000;}
.lastname4 a:visited { text-decoration: none; }
.lastname4 a:hover { color:#F9D0CE; }
.lastname4 a:active { text-decoration: none; }

.pegahlogo4 a:link { text-decoration: none; }
.pegahlogo4 a:visited { text-decoration: none; }
.pegahlogo4 a:hover { color:#F9D0CE; }
.pegahlogo4 a:active { text-decoration: none; }

.title {
	font-family: quicksand;
	font-weight: 100;
	font-size: 45px;
	color:#630001;
	position: absolute;
	top: 140px;	
	left: 200px;
}
.titleofDis{
	position:absolute;
	font-family:quicksand;
	font-weight:500;
	font-size: 30px;
	color:#630001;
	top: 240px;
	left: 200px;
	right: 200px;
}

.titleofDis2{
	position:absolute;
	font-family:quicksand;
	font-weight: 500;
	font-size: 30px;
	color:#630001;
	top: 990px;
	left: 200px;
	right: 200px;
}

.titleofDis3{
	position:absolute;
	font-family:quicksand;
	font-weight: 500;
	font-size: 30px;
	color:#630001;
	top: 1660px;
	left: 200px;
	right: 200px;
}

.titleofDis4{
	position:absolute;
	font-family:quicksand;
	font-weight:500;
	font-size: 30px;
	color:#630001;
	top: 2520px;
	left: 200px;
	right: 200px;
}

.reading1{
	position:absolute;
	font-family:quicksand;
	font-weight: normal;
	font-size: 20px;
	color:#630001;
	top: 300px;
	left: 200px;	
}

.reading2{
	position:absolute;
	font-family:quicksand;
	font-weight: normal;
	font-size: 20px;
	color:#630001;
	top: 340px;
	left: 200px;	
}

.reading1 a:link { color: #000000;}
.reading1 a:visited { text-decoration: none; }
.reading1 a:hover { color:#F27374; }
.reading1 a:active { text-decoration: none; }

.reading2 a:link { color: #000000;}
.reading2 a:visited { text-decoration: none; }
.reading2 a:hover { color:#F27374; }
.reading2 a:active { text-decoration: none; }


.question1{
	position:absolute;
	font-family:quicksand;
	font-weight:normal;
	font-size: 20px;
	color:#630001;
	top: 400px;
	left: 200px;
	right: 200px;
}

.reading3{
	position:absolute;
	font-family:quicksand;
	font-weight: normal;
	font-size: 20px;
	color:#630001;
	top: 1099px;
	left: 200px;	
}

.reading4{
	position:absolute;
	font-family:quicksand;
	font-weight: normal;
	font-size: 20px;
	color:#630001;
	top: 1130px;
	left: 200px;	
}

.reading3 a:link { color: #000000;}
.reading3 a:visited { text-decoration: none; }
.reading3 a:hover { color:#F27374; }
.reading3 a:active { text-decoration: none; }

.reading4 a:link { color: #000000;}
.reading4 a:visited { text-decoration: none; }
.reading4 a:hover { color:#F27374; }
.reading4 a:active { text-decoration: none; }

.question2{
	position:absolute;
	font-family:quicksand;
	font-weight:normal;
	font-size: 20px;
	color:#630001;
	top: 1180px;
	left: 200px;
	right: 200px;
}

.video{
	position:absolute;
	font-family:quicksand;
	font-weight:normal;
	font-size: 20px;
	color:#630001;
	top: 1730px;
	left: 200px;
	right: 200px;
}

.reading5{
	position:absolute;
	font-family:quicksand;
	font-weight:normal;
	font-size: 20px;
	color:#630001;
	top: 1770px;
	left: 200px;
	right: 200px;
}

.reading6{
	position:absolute;
	font-family:quicksand;
	font-weight:normal;
	font-size: 20px;
	top: 1810px;
	left: 200px;
	right: 200px;
}

.video a:link { color: #000000;}
.video a:visited { text-decoration: none; }
.video a:hover { color:#F27374; }
.video a:active { text-decoration: none; }

.reading5 a:link { color: #000000;}
.reading5 a:visited { text-decoration: none; }
.reading5 a:hover { color:#F27374; }
.reading5 a:active { text-decoration: none; }

.reading6 a:link { color: #000000;}
.reading6 a:visited { text-decoration: none; }
.reading6 a:hover { color:#F27374; }
.reading6 a:active { text-decoration: none; }

.question3{
	position:absolute;
	font-family:quicksand;
	font-weight:normal;
	font-size: 20px;
	color:#630001;
	top: 1870px;
	left: 200px;
	right: 200px;
}

.reading7{
	position:absolute;
	font-family:quicksand;
	font-weight:normal;
	font-size: 20px;
	top: 2590px;
	left: 200px;
	right: 200px;
}

.reading7 a:link { color: #000000;}
.reading7 a:visited { text-decoration: none; }
.reading7 a:hover { color:#F27374; }
.reading7 a:active { text-decoration: none; }

.question4{
	position:absolute;
	font-family:quicksand;
	font-weight:normal;
	font-size: 20px;
	color:#630001;
	top: 2640px;
	left: 200px;
	right: 200px;
}