@charset "utf-8";
/* CSS Document */

body {
	background-image:url("orangeBack3.jpg");
}
.topcloud {
	position: absolute;
	top: -160px;
	left: -30px;
}

.lastname2{
	position: absolute;
	top: 50px;
	left: 714px;
	color: #000000;
	font-family: 'Press Start 2P';
	font-size: 13px;
}
.pegahlogo2{
	position: absolute;
	top: 15px;
	left: 730px;
	font-family: "Press Start 2P";
	font-size: 25px;
}
.lastname2 a:link {text-decoration: none;
color: #000000;}
.lastname2 a:visited { text-decoration: none; }
.lastname2 a:hover { color:#FFD5A0; }
.lastname2 a:active { text-decoration: none; }

.pegahlogo2 a:link { text-decoration: none; }
.pegahlogo2 a:visited { text-decoration: none; }
.pegahlogo2 a:hover { color:#FFD5A0; }
.pegahlogo2 a:active { text-decoration: none; }

.poster{
	position:absolute;
	top: 250px;
	left: 10px;
}

.text{
	position: absolute;
	font-family:quicksand;
	font-weight: normal;
	font-size: 25px;
	color:#393300;
	top: 1740px;
	left: 10px;
}

.text2{
	position: absolute;
	font-family:quicksand;
	font-weight: normal;
	font-size: 20px;
	color:#393300;
	top: 1790px;
	left: 10px;
}