@charset "utf-8";
/* CSS Document */
.image{
	position: absolute;
	display: block;
	margin-left:auto;
	margin-top: 240px;
}
body {
	background-image:url("blueAssign11.jpg");
}

.text{
	position: absolute;
	font-family:quicksand;
	font-weight: normal;
	font-size: 25px;
	color:#002847;
	top: 1540px;
	left: 10px;
}

.text2{
	position: absolute;
	font-family:quicksand;
	font-weight: normal;
	font-size: 20px;
	color:#002847;
	top: 1580px;
	left: 10px;
}

.topcloud {
	position: absolute;
	top: -160px;
	left: -30px;
}

.lastname2{
	position: absolute;
	top: 50px;
	left: 714px;
	color: #000000;
	font-family: 'Press Start 2P';
	font-size: 13px;
}
.pegahlogo2{
	position: absolute;
	top: 15px;
	left: 730px;
	font-family: "Press Start 2P";
	font-size: 25px;
}

.lastname2 a:link {text-decoration: none;
color: #000000;}
.lastname2 a:visited { text-decoration: none; }
.lastname2 a:hover { color:#D6EDFF; }
.lastname2 a:active { text-decoration: none; }

.pegahlogo2 a:link { text-decoration: none; }
.pegahlogo2 a:visited { text-decoration: none; }
.pegahlogo2 a:hover { color:#D6EDFF; }
.pegahlogo2 a:active { text-decoration: none; }
