
.blue {
	background-image:url("istockphoto-1253590992-170667a.jpg")	
}

.rainbow {
	position:absolute;
	left: 600px;
	top: 0px;
}	

.cloud {
	position: absolute;
	top: 600px;
	left: 430px;
}

.cloudLong {
	position: absolute;
	top: 720px;	
	left: 0px;
	margin: auto;
}

.h1{
	text-align: center;	
	
}
.margin{
 	margin: auto;
}

.purplepurple{
	position: absolute;
	top: 923px;
	left: 610px;
}
.blueblue {
	position: absolute;
	top: 923px;
	left: 689px;
}

.greengreen{
	position: absolute;
	top: 923px;
	left: 766px;
}
.greengreen2 {
	position: absolute;
	top: 1853px;
	left: 768px;
}

.yellowyellow{
	position: absolute;
	top: 923px;
	left: 846px;
}

.yellowyellow2{
	position: absolute;
	top: 1823px;
	left: 840px;
}

.orangeorange{
	position: absolute;
	top: 923px;
	left: 926px;
}

.orangeorange2 {
	position: absolute;
	top: 1823px;
	left: 920px;
}

.orangeorange3 {
	position: absolute;
	top: 2760px;
	left: 950px;
}

.redred {
	position: absolute;
	top: 923px;
	left: 1005px;
}

.redred2 {
	position: absolute;
	top: 1823px;
	left: 999px;
}
.redred3{
	position:absolute;
	top: 2720px;
	left: 995px;
}


.cloud0 {
	position: absolute;
	top: 1200px;
	left: 800px;
}

.cloud2 {
	position: absolute;
	top: 1640px;
	left: 510px;
}

.cloud3 {
	position: absolute;
	top: 1650px;
	left: 797px;
}

.cloud4 {
	position: absolute;
	top: 2160px;
	left: 1170px;
}

.cloud6{
	position: absolute;
	top: 2550px;
	left: 720px;
}

@font-face {
   font-family: quicksand;
   src: url("Quicksand/OFL.txt");
}

.lastname{
	position:absolute;
	top: 884px;
	left: 750px;
	font-family: 'Press Start 2P';
	font-size: 18px;
}

.pegahlogo{
	position: absolute;
	top: 832px;
	left: 759px;
	font-family: "Press Start 2P";
	font-size: 40px;
	
}
.FinalPoster{
	position: absolute;
	margin-top: -2399px;
	margin-left: 660px;
	
}

.smallCloud{
	position: absolute;
	margin-top: -2286px;
	margin-left: 651px;
}

.CloudAssign2{
	position: absolute;
	top: 2100px;
	left: 870px;
	
}

.Assign2 {
	position: absolute;
	top: 2158px;
	left: 1280px;	
}

.Paragraph1{
	color:#000000;
	position: absolute;
	top: 2190px;
	left: 999px;
	padding:0px;
	font-family: quicksand;
	font-size:26px;
	text-align: center;
}

.assign1{
	position: absolute;
	top: 1280px;
	left: 950px;
	padding: 0px;
	font-family: quicksand;
	font-size: 26px;
	text-align: center;	
}

.assign1 a:link {text-decoration: none; color: #000000;}
.assign1 a:visited { text-decoration: none; }
.assign1 a:hover { color:#C6A0F1; }
.assign1 a:active { text-decoration: none; }

.Paragraph1 a:link {text-decoration: none; color: #000000; }
.Paragraph1 a:visited { text-decoration: none; }
.Paragraph1 a:hover { color:#B0FFDF; }
.Paragraph1 a:active { text-decoration: none; }

.finalPoster a:link {text-decoration: none; color: #000000;}
.finalPoster a:visited { text-decoration: none; }
.finalPoster a:hover { color:#8CBBFD; }
.finalPoster a:active { text-decoration: none; }

.Paragraph2 a:link {text-decoration: none; color: #000000;}
.Paragraph2 a:visited { text-decoration: none; }
.Paragraph2 a:hover { color:#FCFF96; }
.Paragraph2 a:active { text-decoration: none; }

.finalPoster{
	position: absolute;
	top: 1790px;
	left: 680px;
	padding: 0px;
	font-family: quicksand;
	font-size: 28px;
	text-align: center;	
}

.Paragraph2{
	position: absolute;
	top: 2650px;
	left: 853px;
	font-family: quicksand;
	font-size: 26px;
	text-align: center;
}

/*a:hover {
	background-color: #CDFFF9;
}
*/
@font-face {
   font-family: quicksand;
   src: url("Quicksand/OFL.txt");
}

.cloud7{
	position: absolute;
	top: 3000px;
	left: 1100px;
}

.finalposter3{
	position: absolute;
	top: 3140px;
	left: 1260px;
	padding: 0px;
	font-family: quicksand;
	font-size: 28px;
}

.finalposter3 a:link {text-decoration: none; color: #000000;}
.finalposter3 a:visited { text-decoration: none; }
.finalposter3 a:hover { color:#F6C080; }
.finalposter3 a:active { text-decoration: none; }

.posterCloud3{
	position: absolute;
	top: 3100px;
	left: 1199px;
}

.infoPoster{
	position: absolute;
	top: 2970px;
	left: 1260px;
}
.cloud8{
	position: absolute;
	top: 3500px;
	left: 810px;
}

.discussions{
	position: absolute;
	top: 3630px;
	left: 960px;
	padding: 0px;
	font-family: quicksand;
	font-size: 28px;
}

.discussions a:link {text-decoration: none; color: #000000;}
.discussions a:visited { text-decoration: none; }
.discussions a:hover { color:#F27374; }
.discussions a:active { text-decoration: none; }

.cloudBottom{
	position: absolute;
	top: 3670px;
}
.cloudBottom2{
	position: absolute;
	top: 3700px;
	left: 210px;
}

.cloudBottom3{
	position: absolute;
	top: 3800px;
	left: -20px;
}

.reflection{
	position: absolute;
	top: 4100px;
	left: 100px;
	right: 200px;
	font-family: quicksand;
	font-size: 18px;
	font-weight: normal;
	
}